[Unit]
Description={{ ya_requestor_name }} ya-requestor yagna
After=network.target
{{ ya_requestor_yagna_service_extra_unit_directives }}

[Service]
Type=notify
WorkingDirectory={{ ya_requestor_dir }}
ExecStart={{ ya_requestor_dir }}/run_yagna.sh
TimeoutStartSec=10m
RuntimeMaxSec=24h
Restart=always

[Install]
WantedBy=default.target
